{% extends '_base.html' %}
{% block title %}
    Delete Location
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-lg-8 m-auto">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center text-danger">Are You Sure Delete?</h2>
            </div>
            <div class="card-body">
                <p>{{ memo.tender }}</p>
            </div>
            <div class="card-footer">
                <form method="post">
                    {% csrf_token %}
                    <a href="{% url 'memo_list' %}" class="btn btn-default">No</a>
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </div>
        </div>

    </div>
    </div>
{% endblock %}
