{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
        <img src="{% static "img/AdminLTELogo.png" %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-tachometer-alt nav-icon"></i>
                        <p>Home</p>
                    </a>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Users Management
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'employee_list' %}" class="nav-link">
                                <i class="far fa-user nav-icon"></i>
                                <p>Employees</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'faculty_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Faculty</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'department_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Department</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'designation_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Designation</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fa far fa-briefcase nav-icon"></i>
                                <p>Roles</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% url 'category_list' as category_list %}
                {% url 'category_create' as category_create %}
                {% url 'category_update' category.pk as category_update %}
                {% url 'category_delete' category.pk as category_delete %}

                {% url 'product_list'  as product_list %}
                {% url 'product_create' as product_create %}

                {% url 'location_list' as location_list %}
                {% url 'location_create' as location_create %}

                {% url 'status_list' as status_list %}
                {% url 'status_create' as status_create %}

                {% url 'memo_list' as memo_list %}
                {% url 'memo_create' as memo_create %}
                {% url 'product_item_list' as item_list %}
                {% url 'product_item_create' as item_create %}

                <li class="nav-item has-treeview
                    {% if request.path == category_list or request.path == category_create or request.path == category_update or request.path == category_delete or product_list == request.path or product_create == request.path or location_list == request.path or location_create == request.path or status_list == request.path or status_create == request.path or memo_list == request.path or memo_create == request.path or request.path == item_list or request.path == item_create  %}
                         menu-open
                    {% endif %} ">
                    <a href="#"
                       class="nav-link {% if request.path == category_list or request.path == category_create or request.path == category_update or request.path == category_delete or product_list == request.path or product_create == request.path or location_list == request.path or location_create == request.path or status_list == request.path or status_create == request.path or memo_list == request.path or memo_create == request.path or request.path == item_list or request.path == item_create %}
                             active
                        {% endif %}">
                        <i class="nav-icon fas fa-cubes"></i>
                        <p>
                            Products
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'product_item_list' %}" class="nav-link {% if request.path == item_list or request.path == item_create %}
                                active
                            {% endif %} ">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ProductItem</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'product_list' %}"
                               class="nav-link {% if product_list == request.path or product_create == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Products</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ category_list }} "
                               class="nav-link {% if category_list == request.path or request.path == category_update %} active {% endif %} ">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Categories</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'status_list' %}" class="nav-link {% if status_list == request.path or status_create == request.path  %}
                            active
                            {% endif %}  ">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Status</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'location_list' %}"
                               class="nav-link {% if location_list == request.path or location_create == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Location</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'memo_list' %}" class="nav-link {% if memo_list == request.path or memo_create == request.path  %}
                            active
                            {% endif %}  ">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Memo</p>
                            </a>
                        </li>


                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Assign Management
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="far fa-user nav-icon"></i>
                                <p>Assign User</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Return User</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview ">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tasks"></i>
                        <p>
                            Loan Management
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="far fa-user nav-icon"></i>
                                <p>Loan User</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Return Loan</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Repair Management
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="far fa-user nav-icon"></i>
                                <p>Sent Repair</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Return Repair</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
