{% extends '_base.html' %}
{% block title %}Product Item List{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Product Item Table</h3>
                    <div class="float-right">
                        <a class="btn-sm bg-info" href="{% url 'product_item_create' %}">
                            <i class="fas fa-plus"></i> Add
                        </a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <colgroup>
                            <col span="1" style="width: 10%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 10%;">
                            <col span="1" style="width: 10%;">
                            <col span="1" style="width: 10%;">

                        </colgroup>
                        <thead>
                        <tr>
                            <th>Product Id</th>
                            <th>Name</th>
                            <th>Department</th>
                             <th>location</th>
                             <th>Resp Emp</th>
                             <th>quantity</th>
                             <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product_item in product_items %}
                            <tr>
                                <td>{{ product_item.product_item_id }}</td>
                                <td>{{ product_item.name }}</td>
                                <td>{{ product_item.department.name }}</td>
                                 <td>{{ product_item.location.name }}</td>
                                 <td>{{ product_item.resp_emp.username }}</td>
                                 <td>{{ product_item.quantity }}</td>
                                 <td>{{ product_item.status }}</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                      <button type="button" class="btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-right">
                                          <a class="dropdown-item" href="{% url 'product_item_update' product_item.pk %}">
                                                <i class="fas fa-eye"></i> View
                                          </a>
                                          <a class="dropdown-item" href="{% url 'product_item_update' product_item.pk %}">
                                                <i class="fas fa-edit"></i> Edit
                                          </a>

                                          <a class="dropdown-item" href="{% url 'product_item_update' product_item.pk %}">
                                                <i class="fas fa-qrcode"></i> Qrcode
                                          </a>

                                           <a class="dropdown-item" href="{% url 'product_item_delete' product_item.pk %}">
                                                <i class="fas fa-times"></i> Delete
                                          </a>

                                      </div>
                                    </div>


                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                             <th>Product Id</th>
                            <th>Name</th>
                            <th>Department</th>
                             <th>location</th>
                             <th>Resp Emp</th>
                             <th>quantity</th>
                             <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
{% endblock %}