{% extends '_base.html' %}
{% block title %}
    Edit Product Item
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12 m-auto">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Edit Product Item</h3>
                    </div>
                    <!-- /.card-header -->

                    {% include "products/productitem/form_template.html" with messages=messages  form=form button_text="Update"%}
                </div>
        </div>
    </div>

{% endblock %}